/* Carrusel y sección principal responsivos */
@media (max-width: 768px) {

  .prev, .next {
    font-size: 1.2em;
    padding: 6px;
  }

  .texto {
    width: 95%;
    padding: 5%;
    font-size: 16px;
  }

  .sectionmain {
    flex-direction: column;
    align-items: center;
  }

  .imgLogo {
    width: 100px;
    height: auto;
  }

  header {
    font-size: 20px;
    padding: 0 10px;
  }

  .middle-text {
    display: none;
  }

  .hamburger-button {
    display: block;
  }
}

/* Ajustes para login en pantallas pequeñas */
@media (max-width: 500px) {
  #contenedorcentrado {
    flex-direction: column;
    padding: 20px;
  }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
  .sectionmain {
    justify-content: space-evenly;
  }

  .texto {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .carrusel {
    height: auto; /* permite que la altura se ajuste automáticamente */
  }

  .slides img {
    height: auto; /* que las imágenes mantengan su proporción natural */
    max-height: 300px; /* o lo que prefieras para móviles */
  }
}
